<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Project</title>

		<!-- Bootstrap 4.5.2 CSS -->
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

		
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<!-- Startup CSS (Styles for all blocks) - Remove ".min" if you would edit a css code -->
		<link href="css/style.css" rel="stylesheet" />
	
	</head> 
	<body>
		<header class="pt-195 pb-110 bg-light header_1">
		<nav class="header_menu_1 pt-30 pb-30 mt-30">
				<div class="container px-xl-0">
					<div class="row justify-content-center align-items-center f-18 medium">
						<div class="col-lg-3">
							<a href="#" class="link img_link">
							</a>
						</div>
						<div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="1200">
							
							<a href="{{ path('app_show_services') }}" class="link color-heading mx-15">
								Annonces
							</a>
						</div>

		{% if app.user %}
			    
				 <div class="col-lg-3">
		            <a class="btn sm action-1" href="https://127.0.0.1:8000/inscription">Espace personnel</a>
		  
		            <a class="btn sm action-1" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Logout</a>
		         </div>
		     

		          <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none;">
		            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
		          </form>


		 {% else %}
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-end align-items-center" data-aos="fade-up" data-aos-delay="1600">
							<a href="{{ path('app_register') }}" class="link mr-20 color-heading">
								Inscription 
							</a>
							<a href="{{path('app_login')}}" class="btn sm action-1">
								Connexion
							</a>
						</div>
		{% endif %}
					</div>
				</div>
</nav>

		
		
			<div class="container">
		
				<h1 class="big text-center" data-aos="fade-up" data-aos-delay="0">
					Clique Service Proximity
				</h1>
				<div class="mw-600 mx-auto mt-30 f-22 color-heading text-center text-adaptive" data-aos="fade-up" data-aos-delay="400">
					Besoin d'un plombier, Maçon, peintre, médecin  ou autre ? 
					<br> Proximity vous fournit les prises de rendez-vous avec 
					<br> les prestataires les plus qualifiés dans le domaine.
				</div>
				<div class="mt-80 text-center buttons" data-aos="fade-up" data-aos-delay="800">
					<div>
						<a href="{{ path('app_show_services') }}" class="btn action-1 xl">
							Rechercher un prestataire
						</a>
					</div>
				</div>
			</div>
		</header>
		<!-- Blog 1 -->

			<section class="bg-light blog_1">
				<div class="container px-xl-0">
					 
					<div class="row justify-content-between">
						<div class="col-lg-6 col-xl-5 d-flex justify-content-center">
							<img src="uploads/e0ce35c7af4fc7e17fcb3e2b33abc54e.jpg" alt="" class="w-full" data-aos="fade-up" data-aos-delay="0">
						</div>

			
						<div class="col-lg-6 pt-100 pb-100">
							<h3 class="mb-25" data-aos="fade-up" data-aos-delay="800">
							Vous êtes un professionnel?</br>
						    Inscrivez-vous pour publier votre annonce.  
							</h3>
							<div class="mb-70 color-heading f-18 text-adaptive" data-aos="fade-up" data-aos-delay="1200">
							</div>
							<div class="d-sm-flex justify-content-between" data-aos="fade-up" data-aos-delay="1600">
								<a href="{{ path('app_add_fournisseur') }}" class="mb-4 mb-sm-0 btn action-1 f-16 ml-210 xl">
									Inscription
								</a>
								
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- Feature 1 -->
				<section class="pt-105 pb-45 bg-light text-center feature_1">
					<div class="container px-xl-0">
						<div class="row justify-content-center">
							<div class="col-xl-10">
								<div class="row justify-content-center">
									<div class="col-md-4 mb-50" data-aos="fade-up" data-aos-delay="400">
										<i class="fas fa-briefcase f-60 action-3">
										</i>
										<div class="mt-20 mb-25 f-22 title">
											Professionnels
										</div>
										<div class="color-heading text-adaptive">
											Plusieurs services offerts par des professionnels qualifiés dans un seul endroit.
										</div>
									</div>
									<div class="col-md-4 mb-50" data-aos="fade-up" data-aos-delay="800">
										<i class="fas fa-compress-arrows-alt f-60 action-3">
										</i>
										<div class="mt-20 mb-25 f-22 title">
											Proximité
										</div>
										<div class="color-heading text-adaptive">
											Maçons, plombiers ou même médecins
											<br> ils sont tous la proches de chez vous.
										</div>
									</div>
									<div class="col-md-4 mb-50" data-aos="fade-up" data-aos-delay="1200">
										<i class="fas fa-desktop f-60 action-3" data-aos="fade-up" data-aos-delay="0">
										</i>
										<div class="mt-20 mb-25 f-22 title">
											Rapidité
										</div>
										<div class="color-heading text-adaptive">
											Trouvez du travail  ou recrutez un 
											<br> prestataire en un click seulement.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
	</body>
</html>