{% extends 'bases2.html.twig' %}
{% block head %}
 
{% endblock %}
{% block stylesheets %}    
   <style>
        #calendrier{
            width:80%;
            margin:auto;
        }
    
    </style>
{% endblock %}

{% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"> <big>Proximity</big> <small>Pro</small> </a>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("app_index_fournisseur") }}">Acceuil
                <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_profile',{'idF': idF })}}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_index_fournisseur") }}">Deconnexion</a>
            </li>
            
            </ul>
            
        </div>
        </nav>
        <ul class="nav nav-pills flex-column">
       <li class="nav-item">
            <a class="nav-link" href="{{ path('app_fullCalendar',{'idFournisseur': idF })}}">Consulter mon calendrier</a>
        </li>

        <li class="nav-item">
            
            <a class="nav-link" href="{{ path('app_affiche_reservation',{'idF': idF })}}">Rechercher de reservations</a>
        </li>
    
        </ul>
    
    <div style="height:70%; width: 60%; margin-left:20%" id='calendar'></div>

        
    <script>
        
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale:'fr',
          timeZone: 'Europe/Paris',
          headerToolbar:{
              start:'prev,next today',
              center:'title',
              end:'dayGridMonth,listWeek,timeGridDay'
          },
          events:{{data|raw}}
         
        });
        calendar.render();
      });

    </script>
{% endblock %}