<header class="pt-195 pb-110 bg-light header_1">
<nav  id='navigation' class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #ff704d;">
 

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
        <a class="nav-link" href="{{ path('app_home') }}">ACCEUIL
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_show_services') }}">SERVICES</a>
      </li>

     {% if app.user %}

      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_rdv') }}">MES RDV </a>
      </li>
     
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">DÉCONNECTÉ</a>

		          <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none;">
		            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
		          </form>

      </li>

	{% else %}
      <li class="nav-item">
        <a class="nav-link"href="{{ path('app_register') }}">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
      </li>
      
    </ul>
{% endif %}
  </div>
</nav>
</header>